/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  background-color: #222;
  color: #fff;
  font-family: 'Segoe UI', Roboto, Arial, sans-serif;
  text-align: center;
}

/* Main Container Styles */
.main {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

/* Header Styles */
.head {
  text-align: center;
  margin: 20px 0;
}

.head h2 {
  font-size: 24px;
  font-weight: bold;
}

.head p {
  font-size: 16px;
}

/* Product Info Styles */
.product-info form {
  text-align: center;
}

.product-info input {
  padding: 10px;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: #dedede;
  margin: 10px 0;
  font-size: 16px;
  border-radius: 5px;
}

.product-info input:focus {
  background-color: #fff;
  color: #222;
}

.product-info .price {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.product-info .price input {
  flex: 1;
  margin: 0 2px;
}

.product-info .price .tot {
  background-color: #f00;
  padding: 4px;
  font-size: 11px;
  border-radius: 4px;
  font-weight: bold;
  color: #fff;
}

.product-info .price .tot::before {
  content: 'Total: ';
}

.product-info #create {
  font-size: 18px;
  font-weight: bold;
  background-color: #572798;
  color: #fff;
  cursor: pointer;
  padding: 14px 0;
  border-radius: 5px;
  margin: 20px auto;
  width: 100%;
}

.product-info #create:hover {
  background-color: #f42a2a;
  letter-spacing: 1px;
}

/* Outputs Styles */
.outputs {
  padding: 15px 0;
}

.outputs input {
  padding: 10px;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: #dedede;
  margin: 10px 0;
  font-size: 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.outputs input::after {
  content: '🔍';
  font-size: 20px;
  position: absolute;
  margin: 8px 8px;
  color: #999;
}

.outputs #search {
  width: 90%;
  transition: background-color 0.3s;
}

.outputs #search:focus {
  background-color: #fff;
  color: #222;
  font-size: 18px;
}

.outputs .search-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.outputs .search-btn button {
  flex: 1;
  font-size: 15px;
  background-color: #9fce1f;
  color: #fff;
  cursor: pointer;
  padding: 10px 0;
  border-radius: 10px;
  margin: 10px 5px;
  transition: background-color 0.3s;
}

.outputs .search-btn button:hover {
  background-color: #572798;
}

.outputs .output-products {
  padding: 20px 0;
}

.outputs table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.outputs table th,
.outputs table td {
  padding: 10px 0;
  border: 1px solid #fff;
}

.outputs table th {
  font-weight: bold;
  background-color: #000;
}

.outputs table .btn {
  padding: 5px 10px;
  border-radius: 8px;
  background-color: #ff6bc1;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.outputs table .del {
  background-color: #f42a2a;
}

.outputs table .btn:hover {
  background-color: #572798;
}

.outputs #deleteAll {
  margin: 20px 0;
  float: right;
}

.outputs #deleteAll .btn {
  padding: 10px 20px;
  background-color: #572798;
  color: #fff;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.outputs #deleteAll .btn:hover {
  background-color: #f42a2a;
  letter-spacing: 1px;
}
